$sm: 480px;    // Small devices (mobile)
$md: 768px;   // Medium devices (tablets)
$lg: 1024px;   // Large devices (small laptops)
$xlg: 1200px;  // Extra large devices (desktops)
$xxlg: 1600px; // Ultra-wide screens (large desktops)
