$background: rgb(30, 27, 35);
$search-input-background: rgb(47, 46, 57);

$font-color-primary: rgb(219, 220, 220);

$border-color-default: rgb(219, 220, 220);

/* messages */
$message-left-bg: rgba(47, 46, 57, 0.8);
$message-right-bg: rgb(27, 27, 85, 0.8);

